.text1{font-size: 100px;}

.align-center{text-align: center;}

.color1{color: red;}

.no-margin{margin-bottom: 0px;}

.no-margin2{margin-bottom: 5px;}

.no-margin3{margin-top:0px;}

.margin-img{margin-left: 380px;}

.align2{text-align: right;}

.margin6{margin-right: 350px;}

.margin7{margin-left: 400px;}

.margin9{margin-left: 3px;}

.text2{font-size: x-small;}