.center{text-align: center;}

.grid{
    display: grid;
    grid-template-columns: auto auto  ;
    justify-content: space-around; 
}

.img{width: 130%;}

.img2{width: 10%;}

.margine{margin-bottom: 0%;}
.margine1{margin-top: 0%;}

.text{font-size: 70px;}

.color{background-color: transparent;}

.img3{width: 15%;}

.imgliten{width:100% ;}

.img4{width: 20%;}

.text5{font-size: x-small;}

.color-text{color: black;}

